#button {
    display: inline-block;
    background-color: rgb(46, 9, 106);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  .subheading{
    padding: 30px 0 50px;
	background: white;
	text-align: center;
    position: relative;
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 400;
	text-decoration-color : #141371;
	text-align: center;
	line-height: 60px;
	letter-spacing: 1px;

  }
  .box {
    height: 200px;
    background:#85d89a;
    width: 33.3%;
    margin: 20px;
    padding: 6px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
  }
  
  .box:hover .the-content-box {
    transform: translateY(0%);
    background: rgb(47, 29, 89);
    color: white;
    border-radius: 25px;
  }
  
  .box:hover .the-content-box hr {
    width: 50%;
    transition-delay: 400ms;

  }
  
  .box:hover .the-content-box p {
    opacity: 1;
    transition: all 400ms ease;
    transform: translateY(20%);
    transition-delay: 600ms;
    border-radius: 25px; 
  }
  
  .box:hover .the-content-box a {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 900ms;
  }
  
  .box-inner {
    position: absolute;
    height: 100%;
    width: 90%;
    top: 10%;
    left: 5%;
    overflow: hidden;
  }
  
  .the-content-box {
    border-radius: 25px;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(216, 244, 245);
    color: rgb(3, 41, 55);
    transform: translateY(77%);
    transition: all 600ms ease;
  }
  
  .the-content-box h1 {
    padding: 0.2em 0em 0em 0em;
    margin: 0;
    font-family: Courier New;
  }
  
  .the-content-box hr {
    background: #F5FBAD;
    height: 4px;
    border: none;
    margin:2em 0em 0em 0em;
    width: 0;
    transition: all 400ms ease;
  }
  
  .the-content-box p {
    letter-spacing: 1px;
    opacity: 0;
    font-family: Oldtown !important;
    transition: all 900ms ease;
    transform: translateY(60%);
    font-weight: lighter;
  }
  
  .the-content-box a {
    display: inline-block;
    /* background: #4A89CD; */
    font-family: Courier New;
    padding: 0.5em 0.5em;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    transition: all 600ms ease;
    opacity: 0;
    transform: translateX(20%);
  }
  
  .the-content-box a:hover {
    background: #7B3136;
  }
  
  .content-box-inner {
    padding: 0em 1em;
  }

  
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    /* height: 500px;
    width: 500px; */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    /* height: 500px;
    width: 500px; */
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #b68509;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #b6a9f7;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }